body {
    background-color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: lighter;
}

#div1sec1 , #div2sec1 , #div3sec1 , #bars {
    background-color: #232329;
    color: white;
    border: none;
}

#div1sec2 , #div2sec2 , #div3sec2{
    background-color: #313138 ;
    color: white;
    margin: -20px 0px -23px 0px;
}

#div1sec3 , #div2sec3 , #div3sec3{
    background-color: rgb(255, 255, 255);
}

#div1 {
    position:absolute; top: 3px; left: 0px;
    border: none;
    box-shadow: 3px ipx 1px rgb(146, 146, 146);
    border-radius: 2px;
    height: 500px;
    width: 225px;
    margin: 8px;
}

#div2 {
    position:absolute; top: 3px; left: 234px;
    border: none;
    box-shadow: 3px ipx 1px rgb(146, 146, 146);
    border-radius: 2px;
    height: 542px;
    width: 365px;
    margin: 8px;
}

#div3 {
    position:absolute; top: 3px; left: 608px;
    border: none;
    box-shadow: 3px ipx 1px rgb(146, 146, 146);
    border-radius: 2px;
    height: 594px;
    width: 741px;
    margin: 8px;
}

#div1sec1{
    height: 34px;
}
#div1sec2{
    height: 261px;
    font-weight: 100;
}
#div1sec3{
    height: 205px; 
    position: relative; top: -1px;
}
#div2sec1{
    height: 34px;
}
#div2sec2{
    height: 357px;
}
#div2sec3{
    height: 153px;
}
#div3sec1{
    height: 34px;
}
#div3sec2{
    margin-bottom: -400;
    height: 375px;
    position: relative; bottom: 7px;
}
#div3sec3{
    height: 184px;
    position: relative; top: -8px;
}


.b1 {
    background-color: #09ff00a9;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.b1:active {
    border-style: inset;
}

.b2 {
    background-color: white;
    color: blue;
    border: thin rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.b2:active {
    border-style: inset;
}

#b3 {
    position: relative; left: 95px;
    color: white;
    background-color: transparent;
    border: thin white;
    font-size: x-small;
    height: 13px;
}

#b3:hover {
    background-color: #43434d;
}

#b3:active {
    background-color: #6b6b74;
}

ul {
    position: relative; bottom: 9px;
    display: inline;
}

li {
    display: inline;
}

h1 {
    text-align: center;
    font-weight: lighter;
    line-height: 28px;
}
h6 {
    text-align: center;
    font-weight: lighter;
}

p {
    text-align: center;
    font-size: smaller;
}

#search {
    position: relative; left: 100px;
    width: 110px;
    color: #ffffff; 
    background-color: rgb(56, 56, 56);
    border-radius: 2px;
    border: none;
    font-size: x-small;
}

#d2s2form {
    position: relative; left: 55px; top: -11px;
    color: black;
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 3px;
    width: 230px;
    height: 215px;
}

#form2 {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 210px;
    height: 240px;
    position: relative; top: 48px; right: 100px;
    float: right;
}

button {
    cursor: pointer;
    transition-duration: 0.4s;
}

#p3 {
    width: 40%; 
    text-align: left;
     position: relative; top: 100px;left: 90px;
}

#d3s2h1 {
    font-size: xx-large;
    position: relative;top: 115px; left: 89px;
    width: 200px;
    text-align: left;
}

#d3s3p {
    width: 340px;
    position: relative; top: -23px ; left: 200px;
}

#d1s2h1 {
    position: relative; top: 30px;
    line-height: 22px;
}

#d1s2p {
    position: relative; top: 25px; left: 19px;
    width: 85%;
    line-height: 15px;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#d1s3h1 {
    line-height: 23px;
}
#d1s3p {
    width: 90%;
    position: relative; top: -12px; left: 12px;
    line-height: 12px;
}

#bars:active {
    background-color: #6b6b74;
}
#d2s2h1 {
    position: relative; top: 10px;
}
#d2s2p {
    position: relative; left: 17px; top: -8px;
    width: 90%;
    line-height: 15px;
}

#forminput {
    width: 95%;
    border: 1px thin rgb(194, 194, 194);
    height: 20px;
}